DATABASE_URL=postgresql://gen_user:3i7sAOH4f%24bg@2b33ba20fb72931a683b0654.twc1.net:5432/ansara_reels?schema=public&connection_limit=5&pool_timeout=30&connect_timeout=60&socket_timeout=60

# Generate via: openssl rand -base64 32
NEXTAUTH_SECRET=replace-me-with-strong-secret
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# S3 (TWC)
S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=ansara-main-baket
S3_PREFIX=ansara-reels
S3_ACCESS_KEY=B2HO9ZUMWZOKB9XPYSXT
S3_SECRET_KEY=a3k26dFEwCepq8FTVc9r40oSBJnQ1JnAc4h1feUm
S3_PUBLIC_BASE=https://s3.twcstorage.ru/ansara-main-baket
